@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  font-family: "VT323", monospace;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: black;
}

a {
  color: lightgreen;
}

a:active {
  color: green;
}

img {
  border-radius: 2%;
  pointer-events: none;
}

#screenfx {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
  border-radius: 0%;
  pointer-events: none;
  z-index: 2;
}

#bg {
	position: absolute;
	width: 100%;
	height: 100%;
  padding: 0;
  margin: 0;
	background: transparent;
  border: 0.8vw solid lightgreen;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
}

#jawsh {
  position: relative;
  margin-top: 1vh;
  width: 12vw;
  height: 6vh;
}

#penguin {
  text-decoration: underline;
}

#penguin:hover {
  cursor: pointer;
}

#penguin:active {
  color: green;
}

#goodbye {
  color: magenta;
}

.input-arrow {
	position: fixed;
	bottom: 1.5vw;
	left: 2%;
	width: 96%;
	font-size: 3vw;
	color: lightgreen;
	background: transparent;
}

.input-arrow #textbox {
	position: fixed;
	left: 4.35%;
	width: 91.3%;
	border: 0;
	color: lightgreen;
	caret-color: lightgreen;
	background: transparent;
}

.input-arrow #history {
	background: transparent;
}

.input-arrow #history * {
  background: transparent;
}

#farewell {
  opacity: 0%;
  color: white;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-user-select: none;   
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}