* {
  margin: 0;
  padding: 0;
  background: transparent;
}

img {
  image-rendering: pixelated;
  cursor: pointer;
}

.unrealityGif {
  opacity: 0%;
  border: 0;
}

.unrealityBG {
  opacity: 0%;
  object-fit: fill;
}
